@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Error</h1>
    <h3 class="text-warning">@ViewBag.ErrorMessage</h3>
    <p class="text-muted">Return to &nbsp<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home Page</a></p>
</div>
